<h2>Nuevo codetail</h2>

<form role="form">

  <div class="form-group">
    <label for="titleInput">Título</label>
    {{input type="text" id="titleInput" class="form-control" placeholder="Introduce un título" value=title }}

  </div>
  <div class="form-group">
    <label for="descriptionInput">Descripción</label>

    {{textarea id="descriptionInput" class="form-control" placeholder="Introduce una descripción" value=description }}

  </div>

  <button {{action 'create'}} type="submit" class="btn btn-default">Guardar</button>
</form>
