<div class="row">

  <div class="col-md-3">
    <p>
      Esto está muy vacío
    </p>
  </div>

  <div class="col-md-9">
    <div class="well">
      Parece que no aún no hay ningún codetail.
    </div>
  </div>


</div>
