<div class="row">

  <div class="col-md-3">

    <ul class="nav nav-pills nav-stacked">
      {{#each}}
      {{#link-to 'codetail' this tagName='li'}} <a>{{title}}</a> {{/link-to}}
      {{/each}}
    </ul>

    {{#link-to 'codetails.new' tagName='button' type='button' class='btn btn-primary' }} Añadir un codetail {{/link-to}}

  </div>

  <div class="col-md-9">
    {{outlet}}
  </div>

</div>
